<!-- banner -->
<div class="row" style="padding: 0px; overflow:hidden; height:150px;">
  <div class="col-xs-12">
    <a class="navbar-brand logo" href="#">
      <!-- place your image here -->
      <%= image_tag "banner.jpg", alt: "company logo", style: "width: 100%;" %>
    </a>
  </div>
</div>
<div class="card-columns">
  <!-- First row -->
  <!-- <div class="row"> -->
  <!-- <div class="row m-t-md"> -->
  <!-- <div class="col-xs-12 col-md-4"> -->
  <!-- Card -->
  <article class="card card-inverse animated fadeInLeft">
    <%= image_tag "don-vi-to-chuc.jpg", alt: "Đơn vị tổ chức", class: "img-responsive" %>
    <div class="card-img-overlay">
      <h4 class="card-title">Đơn vị tổ chức</h4>
    </div>
  </article>
  <!-- .end Card -->
  <!-- </div> -->
  <!-- <div class="col-xs-12 col-md-4"> -->
  <!-- Card -->
  <article class="card card-inverse animated fadeInDown">
    <%= image_tag "thong-tin-hoi-thao.jpg", alt: "Thông tin hội thảo", class: "img-responsive" %>
    <div class="card-img-overlay">
      <h4 class="card-title">Thông tin hội thảo</h4>
    </div>
  </article>
  <!-- .end Card -->
  <!-- </div> -->
  <!-- <div class="col-xs-12 col-md-4"> -->
  <!-- Card -->
  <article class="card card-inverse animated fadeInRight">
    <%= image_tag "chuong-trinh-hoi-thao.png", alt: "Chương trình hội thảo", class: "img-responsive" %>
    <div class="card-img-overlay">
      <h4 class="card-title">Chương trình hội thảo</h4>
    </div>
  </article>
  <!-- .end Card -->
  <!-- </div> -->
  <!-- </div><!-- .end First row -->
  <!-- Second row -->
  <!-- <div class="row m-t-md"> -->
  <!-- <div class="col-xs-12 col-md-4"> -->
  <!-- Card -->
  <a href="/dang-ky">
    <article class="card card-inverse animated fadeInLeft">
      <%= image_tag "dang-ky.jpg", alt: "Đăng ký", class: "img-responsive" %>
      <div class="card-img-overlay">
        <h4 class="card-title">Đăng ký</h4>
      </div>
    </article>
  </a>
  <!-- .end Card -->
  <!-- </div> -->
  <!-- <div class="col-xs-12 col-md-4"> -->
  <!-- Card -->
  <article class="card card-inverse animated fadeInDown">
    <%= image_tag "khach-san.jpg", alt: "Khách sạn và du lịch", class: "img-responsive" %>
    <div class="card-img-overlay">
      <h4 class="card-title">Khách sạn và du lịch</h4>
    </div>
  </article>
  <!-- .end Card -->
  <!-- </div> -->
  <!-- <div class="col-xs-12 col-md-4"> -->
  <!-- Card -->
  <article class="card card-inverse animated fadeInRight">
    <%= image_tag "hanoi.jpg", alt: "Thông tin về hà nội", class: "img-responsive" %>
    <div class="card-img-overlay">
      <h4 class="card-title">Thông tin về hà nội</h4>
    </div>
  </article>
  <!-- .end Card -->

  <!-- Card -->
  <article class="card card-inverse animated fadeInRight">
    <%= image_tag "nha-tai-tro.jpg", alt: "Nhà tài trợ", class: "img-responsive" %>
    <div class="card-img-overlay">
      <h4 class="card-title">Nhà tài trợ</h4>
    </div>
  </article>

  <% @contents.each do |content| %>
      <a href="/noi-dung/<%= content.id %>">
        <article class="card card-inverse animated fadeInRight">
          <%= image_tag content.image, alt: content.title, class: "img-responsive" %>
          <div class="card-img-overlay">
            <h4 class="card-title"><%= content.title %></h4>
          </div>
        </article>
      </a>
  <% end %>
  <!-- .end Card -->

  <!-- </div> -->
  <!-- </div><!-- .end Second row -->
</div>
<!-- .end card columns -->
<!-- </div> -->

<!--Footer-->
<footer>
  <div class="simply-scroll simply-scroll-container">
    <div class="simply-scroll-clip">
      <ul id="scroller" class="simply-scroll-list">
        <li><%= image_tag "dang-ky", width: 290, height: 200, class: "sponsor" %>
        <li><img src="img/dang-ky.jpg" width="290" height="200"/></li>
        <li><img src="img/dang-ky.jpg" width="290" height="200"/></li>
        <li><img src="img/dang-ky.jpg" width="290" height="200"/></li>
        <li><img src="img/dang-ky.jpg" width="290" height="200"/></li>
        <li><img src="img/dang-ky.jpg" width="290" height="200"/></li>
      </ul>
    </div>
  </div>
</footer>
<!--/.Footer-->