<% if current_user %>
<div class="col-md-3">
  <div class="list-group">
    <a class="list-group-item" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Trang chủ</a>
    <a class="list-group-item" href="/quan-ly"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Danh mục</a>
    <a class="list-group-item" href="/sponsors"><i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp; Tài trợ</a>
    <a class="list-group-item active" href="/registrars"><i class="fa fa-list fa-fw" aria-hidden="true"></i>&nbsp; Danh sách đăng ký</a>
    <a class="list-group-item" href="/logout"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; Đăng xuất</a>
  </div>
</div>
<div class="col-md-9">
  <table class = "table table-bordered table-striped">
    <thead>.
    <tr>
      <th>Họ và tên</th>
      <th>Ngày sinh</th>
	  <th>Quốc tịch</th>
	  <th>Cơ quan, tổ chức</th>
	  <th>Nghề nghiệp</th>
	  <th>Lĩnh vực hoạt động</th>
	  <th>Ảnh</th>
	  <th>CVs</th>
	  <th>Email</th>
	  <th>Số điện thoại</th>
    </tr>
    </thead>

    <tbody>
    <% @registrars.each do |registrar| %>
        <tr>
          <td><%= registrar.name %></td>
		  <td><%= registrar.birth %></td>
		  <td><%= registrar.nationality %></td>
		  <td><%= registrar.company %></td>
		  <td><%= registrar.job %></td>
		  <td><%= registrar.domain %></td>
          <td><%= link_to "Download", registrar.image.url %></td>
		  <td><%= link_to "Download", registrar.cvs.url %></td>
		  <td><%= registrar.email %></td>
		  <td><%= registrar.phone %></td>
        </tr>
    <% end %>
    </tbody>

  </table>
</div>

<% else %>
    <h1> Bạn phải <%= link_to "đăng nhập", "/admin" %> để xem được trang này</h1>
<% end %>